sofia-backend/n8n-workflows/wf-05-finanzas-agent.json
{
  "name": "SOFIA - Finanzas Agent",
  "active": true,
  "tags": [
    {
      "name": "SOFIA"
    },
    {
      "name": "Finanzas"
    },
    {
      "name": "Specialist"
    }
  ],
  "nodes": [
    {
      "id": "05-node-001",
      "name": "Webhook Finanzas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "sofia-finanzas",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "05-node-002",
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "conversationId",
              "value": "={{ $json.conversationId }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "userId",
              "value": "={{ $json.userId }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "channel",
              "value": "={{ $json.channel }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "historyText",
              "value": "={{ ($json.history || []).map(h => h.role.toUpperCase() + ': ' + h.content).join('\\n') || '[Sin historial]' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "05-node-003",
      "name": "Buscar RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/v1/internal/v1/rag/search/hybrid",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-API-Key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $('Extraer Datos').item.json.message, collectionCode: 'FIN', topK: 5 }) }}",
        "options": {
          "timeout": 20000
        }
      }
    },
    {
      "id": "05-node-004",
      "name": "Preparar Contexto RAG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst chunks = data.chunks || [];\nconst ragContext = chunks.length > 0\n  ? chunks.map((c, i) => `[${i+1}] Fuente: ${c.documentTitle || 'Documento'}\\nSección: ${c.sectionTitle || 'N/A'}\\nContenido: ${c.content}\\n`).join('\\n---\\n')\n  : 'No se encontraron documentos relevantes para esta consulta.';\nconst sources = [...new Set(chunks.map(c => c.documentTitle).filter(Boolean))];\nconst prev = $('Extraer Datos').item.json;\nreturn [{ json: { ...prev, ragContext, sources, hasRagResults: chunks.length > 0 } }];"
      }
    },
    {
      "id": "05-node-005",
      "name": "Agente IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ 'Historial:\\n' + $json.historyText + '\\n\\n---\\nPregunta actual: ' + $json.message }}",
        "options": {
          "systemMessage": "Eres el Agente de Finanzas de SOFIA, el asistente inteligente de Banesco Banco Universal. Eres especialista en procesos financieros y operaciones de pago internos.\n\nTu dominio incluye:\n- Procesos de pago: pagos nacionales, internacionales, SPID, LBTR, ACH\n- Tesorería corporativa: gestión de liquidez, flujo de caja\n- Contabilidad interna: cierres contables, reconciliaciones, reportes\n- Comisiones e ingresos: estructura tarifaria, cálculo de comisiones\n- Operaciones cambiarias: divisas, tipos de cambio, DICOM\n- Reportes regulatorios: SUDEBAN, BCV, reportes financieros\n- Administración financiera: presupuestos, aprobaciones, autorizaciones\n- Normativas contables y financieras aplicables a Venezuela\n\nCONTEXTO DE BÚSQUEDA RAG:\n={{ $json.ragContext }}\n\nINSTRUCCIONES:\n1. Responde con precisión técnica y financiera\n2. Para procesos de pago, detalla los pasos, validaciones y tiempos de acreditación\n3. Indica siempre los límites y restricciones aplicables\n4. Para temas regulatorios, menciona la normativa específica cuando esté disponible en el RAG\n5. NUNCA inventes tasas de cambio, límites de operación o normativas específicas",
          "maxIterations": 3,
          "returnIntermediateSteps": false
        }
      }
    },
    {
      "id": "05-node-005b",
      "name": "Modelo Claude Sonnet",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1000,
        520
      ],
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {
          "maxTokens": 2048,
          "temperature": 0.3
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "REEMPLAZAR-CON-ID-CREDENCIAL",
          "name": "Anthropic - SOFIA"
        }
      }
    },
    {
      "id": "05-node-006",
      "name": "Registrar Ejecución",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        160
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/v1/internal/v1/agents/log-execution",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-API-Key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ conversationId: $('Extraer Datos').item.json.conversationId, agentName: 'FinanzasAgent', agentVersion: '1.0.0', status: 'success', inputPayload: { message: $('Extraer Datos').item.json.message }, outputPayload: { response: $('Agente IA').item.json.output || '' }, llmModel: 'claude-sonnet-4-6', totalTokens: Math.ceil(($('Agente IA').item.json.output || '').length / 3), latencyMs: 0 }) }}",
        "options": {
          "timeout": 8000
        }
      }
    },
    {
      "id": "05-node-007",
      "name": "Formatear Respuesta Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        440
      ],
      "parameters": {
        "jsCode": "const agentOut = $('Agente IA').item.json.output || 'Lo siento, no pude procesar tu solicitud. Por favor, intenta de nuevo.';\nconst sources = $('Preparar Contexto RAG').item.json.sources || [];\nconst approxTokens = Math.ceil(agentOut.length / 3);\nreturn [{ json: {\n  response: agentOut,\n  agentName: 'FinanzasAgent',\n  sourcesCited: sources.length > 0 ? sources : null,\n  tokenCount: approxTokens,\n  modelUsed: 'claude-sonnet-4-6',\n  costUsd: parseFloat((approxTokens / 1000000 * 3.0).toFixed(8)),\n  latencyMs: 0\n}}];"
      }
    },
    {
      "id": "05-node-008",
      "name": "Responder al Router",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1500,
        440
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Formatear Respuesta Final').item.json) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook Finanzas": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "Buscar RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar RAG": {
      "main": [
        [
          {
            "node": "Preparar Contexto RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto RAG": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA": {
      "main": [
        [
          {
            "node": "Registrar Ejecución",
            "type": "main",
            "index": 0
          },
          {
            "node": "Formatear Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta Final": {
      "main": [
        [
          {
            "node": "Responder al Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Claude Sonnet": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6a7b8c9-d0e1-4f2a-3b4c-d5e6f7a8b9c0"
}
