sofia-backend/n8n-workflows/wf-00-rag-engine.json
{
  "name": "SOFIA - RAG Engine",
  "nodes": [
    {
      "parameters": {},
      "id": "rag-trigger-001",
      "name": "Entrada Sub-Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-query",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            },
            {
              "id": "set-collection",
              "name": "collectionCode",
              "value": "={{ $json.collectionCode || '' }}",
              "type": "string"
            },
            {
              "id": "set-topk",
              "name": "topK",
              "value": "={{ $json.topK || 5 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "rag-set-001",
      "name": "Preparar Petición",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/v1/internal/v1/rag/search/hybrid",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-API-Key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.query, collectionCode: $json.collectionCode || undefined, topK: $json.topK || 5 }) }}",
        "options": {
          "timeout": 25000
        }
      },
      "id": "rag-http-001",
      "name": "Buscar en RAG Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nconst chunks = response.chunks || [];\nconst totalFound = response.totalFound || 0;\nconst searchTimeMs = response.searchTimeMs || 0;\n\nlet formattedContext = '';\nif (chunks.length > 0) {\n  formattedContext = chunks.map((chunk, index) => {\n    const documentTitle = chunk.documentTitle || 'Documento sin título';\n    const sectionTitle = chunk.sectionTitle || 'Sección sin título';\n    const content = chunk.content || '';\n    const score = chunk.score !== undefined ? chunk.score.toFixed(4) : 'N/A';\n    return `[${index + 1}] ${documentTitle}\\nSección: ${sectionTitle}\\nContenido: ${content}\\nRelevancia: ${score}`;\n  }).join('\\n\\n---\\n\\n');\n} else {\n  formattedContext = 'No se encontraron documentos relevantes para la consulta.';\n}\n\nconst rawSources = chunks.map(chunk => chunk.documentTitle).filter(Boolean);\nconst sources = [...new Set(rawSources)];\n\nreturn [\n  {\n    json: {\n      hasResults: chunks.length > 0,\n      totalFound: totalFound,\n      searchTimeMs: searchTimeMs,\n      formattedContext: formattedContext,\n      sources: sources,\n      rawChunks: chunks\n    }\n  }\n];"
      },
      "id": "rag-code-001",
      "name": "Formatear Resultados RAG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Entrada Sub-Workflow": {
      "main": [
        [
          {
            "node": "Preparar Petición",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Petición": {
      "main": [
        [
          {
            "node": "Buscar en RAG Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar en RAG Backend": {
      "main": [
        [
          {
            "node": "Formatear Resultados RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b2c3d4e5-f6a7-4b8c-9d0e-f1a2b3c4d5e6",
  "tags": [
    {
      "name": "SOFIA"
    },
    {
      "name": "SubWorkflow"
    }
  ],
  "pinData": {}
}
