sofia-backend/n8n-workflows/wf-09-feedback-analyzer.json
{
  "name": "SOFIA - Feedback Analyzer",
  "active": true,
  "tags": [
    {
      "name": "SOFIA"
    },
    {
      "name": "Analytics"
    }
  ],
  "nodes": [
    {
      "id": "09-node-001",
      "name": "Webhook Feedback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "sofia-feedback",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "09-node-002",
      "name": "Extraer Feedback",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "feedbackId",
              "value": "={{ $json.feedbackId }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "messageId",
              "value": "={{ $json.messageId }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "conversationId",
              "value": "={{ $json.conversationId }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "userId",
              "value": "={{ $json.userId }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "rating",
              "value": "={{ $json.rating }}",
              "type": "number"
            },
            {
              "id": "6",
              "name": "comment",
              "value": "={{ $json.comment || '' }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "category",
              "value": "={{ $json.category || 'general' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "09-node-003",
      "name": "Obtener Contexto Mensaje",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://host.docker.internal:4000/api/v1/internal/v1/conversations/' + $json.conversationId + '/context?limit=5' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-API-Key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "09-node-004",
      "name": "Registrar Analisis de Feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:4000/api/v1/internal/v1/agents/log-execution",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-API-Key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ conversationId: $('Extraer Feedback').item.json.conversationId, agentName: 'FeedbackAnalyzer', agentVersion: '1.0.0', status: 'success', inputPayload: { rating: $('Extraer Feedback').item.json.rating, comment: $('Extraer Feedback').item.json.comment }, outputPayload: { analyzed: true }, llmModel: 'none', totalTokens: 0, latencyMs: 0 }) }}",
        "options": {
          "timeout": 8000
        }
      }
    },
    {
      "id": "09-node-005",
      "name": "Respuesta de Confirmacion",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "status",
              "value": "analyzed",
              "type": "string"
            },
            {
              "id": "2",
              "name": "message",
              "value": "Feedback procesado correctamente",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Feedback": {
      "main": [
        [
          {
            "node": "Extraer Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Feedback": {
      "main": [
        [
          {
            "node": "Obtener Contexto Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Contexto Mensaje": {
      "main": [
        [
          {
            "node": "Registrar Analisis de Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Analisis de Feedback": {
      "main": [
        [
          {
            "node": "Respuesta de Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d0e1f2a3-b4c5-4d6e-7f8a-b9c0d1e2f3a4"
}
